body {
  background-image: url("tgtbtu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
main {
  color: black;
  text-align: center;
  font-family: "calibri"; 
}

h1 {
  font-size: 44px;
  font-weight: bold;
  color: darkgray;
  text-align:center;
  font-family: "calibri"; 
}
p {
  font-size: 24px;
  font-weight: bold;
  color: darkgray;
  text-align: center;
  font-family: "calibri"; 
}
#word_answer {
  font-size: 24px;
  font-weight: bold;
  color: moccasin;
  border-color: black;
  text-align: center;
  font-family: "calibri"; 
}
.url {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#shell {
  margin-left: 100px;
}

#word_spaces {
  margin-bottom: 20px;
  color: moccasin;
  font-size: 24px;
}
.image {
  padding-right: 600px;
  float: left;
  image-orientation: initial;
  position: relative;
}

.keyboard{
  background-color: moccasin;
  border: 1px white;
  border-style: double;
  border-radius: 15px;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  padding: 10px 12px;
  width: 18px;
  margin-top: 15px;
  font-family: "calibri"; 
}
#reset {
  background-color: moccasin;
  font-size: 18px;
  margin-top: 10px;
}