body {
  background-image: url("tgtbtu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
main {
  color: black;
  text-align: center;
  font-family: "calibri"; 
}

h1 {
  font-size: 44px;
  font-weight: bold;
  color: darkgray;
  text-align:center;
  font-family: "calibri"; 
}
p {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: "calibri"; 
}
#word_answer {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: "calibri"; 
}
.url {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#shell {
  margin-left: 100px;
}

#word_spaces {
  margin-bottom: 20px;
}

.keyboard{
  background-color: moccasin;
  border: 1px white;
  border-style: double;
  border-radius: 15px;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  padding: 10px 12px;
  width: 18px;
  margin-top: 15px;
  font-family: "calibri"; 
}
#reset {
  background-color: moccasin;
  font-size: 18px;
}

#shell div {
background-color: black;
}

#shell .base {
  height: 5px;
  width: 200px;
  margin-bottom: 10px;
  margin-left: 40px;
}

#shell .leftline {
  height: 300px;
  width: 5px;
  margin-left: 40px;
}

#shell .topline {
  height: 2px;
  width: 200px;
  margin-left: 40px;
}

#shell .righttopline {
  float: left;
  height: 30px;
  margin-left: 240px;
  width: 4px;
}

#shell .head {
image:
}

#shell .body {
  image:
}

#shell .left-arm{
  image:
}
#shell .right-arm{
  image:
}
#shell .left-leg{
  image:
}
#shell .right-leg {
  image:
}