@media only screen and (min-width: 300px) {

body {
  background-image: url("tgtbtu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  max-height: 100vh;
  max-width: 100vw;
  width: 100%;
}
main {
  color: black;
  text-align: center;
  font-family: "calibri"; 
}

h1 {
  font-size: 44px;
  font-weight: bold;
  color: #F8F8FF;
  text-align:center;
  font-family: "calibri"; 
  margin-top: 0px;
}
p {
  font-size: 24px;
  font-weight: bold;
  color: #F8F8FF;
  text-align: center;
  font-family: "calibri"; 
}
#word_answer {
  font-size: 24px;
  font-weight: bold;
  color: #F8F8FF;
  border-color: black;
  text-align: center;
  font-family: "calibri"; 
  margin-top: 60px;
}
.url {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#shell {
  margin-left: 100px;
}

#word_spaces {
  margin-bottom: 5px;
  color: #F8F8FF;
  font-size: 24px;
  margin-top: 5px;
}
.image {
  padding-right: 600px;
  float: left;
  image-orientation: initial;
  position: absolute;
}

.keyboard{
  background-color: moccasin;
  border: 1px white;
  border-style: double;
  border-radius: 15px;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  padding: 10px 12px;
  width: 18px;
  margin-top: 100px;
  font-family: "calibri"; 
}
#reset {
  background-color: moccasin;
  font-size: 18px;
  margin-top: 10px;
}
.theme {
margin-right: 900px;
margin-left: 0px;
margin-top: 200px;
padding-right: 1000px;
color: lightgray;
opacity: 0.75;
filter: grayscale(70%);
background-position-x: initial;
position: fixed;
}
}